<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.accessibility.api</key>
	<true/>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.healthkit.access</key>
	<array>
		<string>health-records</string>
	</array>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>iCloud.com.ly.minis</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudKit</string>
	</array>
	<key>com.apple.developer.nfc.readersession.formats</key>
	<array>
		<string>TAG</string>
		<string>PACE</string>
	</array>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>iCloud.com.ly.minis</string>
	</array>
	<key>com.apple.developer.weatherkit</key>
	<true/>
	<key>com.apple.private.accessibility</key>
	<true/>
	<key>com.apple.private.accessibility.axclient</key>
	<true/>
	<key>com.apple.private.axclient</key>
	<true/>
	<key>com.apple.private.axserver</key>
	<true/>
	<key>com.apple.private.backgroundtask.allow</key>
	<true/>
	<key>com.apple.private.coregraphics</key>
	<true/>
	<key>com.apple.private.hid.client.event-dispatch</key>
	<true/>
	<key>com.apple.private.hid.client.event-filter</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.iosurface</key>
	<true/>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>Lookup</string>
		<string>Install</string>
		<string>Uninstall</string>
		<string>Browse</string>
	</array>
	<key>com.apple.private.screen-capture</key>
	<true/>
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAccessibility</string>
		<string>kTCCServiceScreenCapture</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.ly.minis</string>
	</array>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
